<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Militsa Sotirova</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto|Space+Mono:400,700&display=swap" rel="stylesheet">
	  <link href="../styles/pages.css" rel="stylesheet">
	</head>

	<body>
		<header>
				<a href="./home.html"><img src="../images/face.jpg" alt="headshot"></a>
				<a href="./home.html"><h1>Militsa Sotirova</h1></a>

				<div class="grid-container">
		        <div class="grid-item">
		            <p><a id="current" href="./aboutme.html">About Me</a></p>
		        </div>

		        <div class="grid-item">
		            <p><a href="./education.html"><strong>Education</strong></a></p>
		        </div>

		        <div class="grid-item">
		            <p><a href="./experience.html"><strong>Experience</strong></a></p>
		        </div>

		        <div class="grid-item">
		            <p><a href="./projects.html"><strong>Projects</strong></a></p>
		        </div>
		    </div>

		</header>

		<div class="page-content">
			<p>Hello!</p>
			<br>
			<p>I am a second year student at Cornell University (Engineering School) pursuing a major in Computer Science
				and a minor in Business. I've been interested in math and computer science since my freshman year of high school at
				TJHSST in the DC area.
				</p>
			<br>
			<p>You can find my resume <a href="./resources/resume.pdf">here</a>.</p>
			<br>
			<p>Programming Languages:</p>
			<ul>
				<item>Java</item>
				<
			</ul>
		</div>

		<footer>
			<a href="mailto: militsasotirova@gmail.com"><img src="../images/black-mail.png" title="email" alt="email"></a>
			<a href="https://github.com/militsasotirova"><img src="../images/black-github.png" title="github" alt="github"></a>
			<a href="https://www.linkedin.com/in/militsa-sotirova-5362a7177"><img src="../images/black-linkedin.png" title="linkedin" alt="linkedin"></a>
		</footer>
	</body>
</html>
