<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Militsa Sotirova</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto|Space+Mono:400,700&display=swap" rel="stylesheet">
    <link href="../styles/pages.css" rel="stylesheet">
	</head>

	<body>
		<header>
				<a href="./home.html"><img src="../images/face.jpg" alt="headshot"></a>
				<a href="./home.html"><h1>Militsa Sotirova</h1></a>

				<div class="grid-container">
						<div class="grid-item">
								<p><a href="./aboutme.html"><strong>About Me</strong></a></p>
						</div>

						<div class="grid-item">
								<p><a href="./education.html"><strong>Education</strong></a></p>
						</div>

						<div class="grid-item">
								<p><a id="current" href="./experience.html">Experience</a></p>
						</div>

						<div class="grid-item">
								<p><a href="./projects.html"><strong>Projects</strong></a></p>
						</div>
				</div>

		</header>

		<div class="page-content">
			<p>experience</p>
		</div>

		<footer>
			<a href="mailto: militsasotirova@gmail.com" target="_blank"><img src="../images/black-mail.png" title="email" alt="email"></a>
			<a href="https://github.com/militsasotirova" target="_blank"><img src="../images/black-github.png" title="github" alt="github"></a>
			<a href="https://www.linkedin.com/in/militsa-sotirova-5362a7177" target="_blank"><img src="../images/black-linkedin.png" title="linkedin" alt="linkedin"></a>
		</footer>
	</body>
</html>
