html {
    height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
	height: 100%;
	align-items: center;
  justify-content: center;
  resize: vertical;
  font-family: 'Space Mono', monospace;
  color: #18314F;
  background-color: #fcfcf9;
  line-height: 150%;
}

header {
  background-image: linear-gradient(#bfe4be, #effae5);
  height: 125px;
}

header img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid #effae5;
  float: left;
  margin: 10px;
}

header h1 {
  float: left;
  margin-top: 50px;
  font-weight: 300;
}

p {
  font-size: 130%;
}

header a {
  text-decoration: none;
  color: #18314F;
}

a {
  text-decoration: none;
  color: #a833b9;
}

a:hover {
  color: #7a8a8a;
}

#current {
  font-weight: 300;
}

footer {
  margin-top: -10px;
  text-align: center;
}

footer img {
  width: 75px;
  height: 75px;
}

.grid-container {
  width: 55%;
  height: 25%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 90px;
  grid-gap: 10px;
}

.grid-item {
  justify-self: end;
}

.page-content {
  font-size: 90%;
  margin: 40px;
  font-family: 'Poppins', sans-serif;
}

ul {
  margin-left: 50px;
  line-height: 20px;
  font-size: 120%;
}

.aboutme-grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
}

.aboutme-grid-item {
  margin: auto;
}

.education-image {
  height: 200px;
  width: 200px;
}

.education-grid-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  justify-content: center;
  grid-gap: 50px;
}

.education-grid-item {
  line-height: 30px;
}

.experience-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-bottom: 50px;
}

.experience-grid-item {
  line-height: 40px;
}

.experience-grid-item p {
  line-height: 25px;
}

.experience-grid-item li {
  line-height: 25px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.projects-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.projects-grid-item {
  line-height: 40px;
}

.projects-grid-item p {
  line-height: 25px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(63, 60, 60, 0.2);
  transition: 0.3s;
  border-radius: 5px; 
  padding: 2px 16px;
  margin: 10px 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #91917b; 
  cursor: pointer;
}

.project-card {
  text-decoration: none;
  color: #18314F;
}
.project-card:hover {
  color: #18314F;
}